.title{
    color: #fff;

}
.reservas{
    padding: 20px;
    margin-top: 10px;
    background: #fff;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.reservas img{
    height: 100px;
}
.reservas button{
    border: 0;
    background: #fff;
}

footer button{
    border: 0;
    display: flex;
    padding: 5px;
    text-transform: uppercase;
    background-color: darkgrey;
    margin-top: 10px;
    border-radius: 4px;
    font-weight: bold;
    
}
.reservas amount{
    display: flex;
    align-items: center;
}
.reservas #amount input{
    border: 1px solid #eee;
    border-radius: 4px;
    color: #191919;
    padding: 5px;
    width: 45px;
}